@model Web.ViewModels.MovieViewModel
@{
    ViewData["Title"] = "AddMovieView";
}

<h1>Добавление фильма</h1>

<form asp-action="AddMovie" enctype="multipart/form-data" asp-antiforgery="true">
    <div class="form-group">
        <div class="validation" asp-validation-summary="ModelOnly"></div>

        <div>
            <label asp-for="Name">Название фильма </label>
            <input type="text" asp-for="Name" class="form-control input-validation-error" />
            <span asp-validation-for="Name"></span>
        </div>

        <div>
            <label asp-for="MovieGenres">Жанры фильма </label>
            <select class="selectpicker" multiple data-live-search="true" asp-for="@Model.MovieGenres" asp-items="(List<SelectListItem>)ViewBag.Genres">
            </select>
            <span asp-validation-for="MovieGenres"></span>
        </div>

        <div>
            <label asp-for="ReleaseDate">Дата выпуска </label>
            <input type="date" asp-for="ReleaseDate" class="form-control" />
            <span asp-validation-for="ReleaseDate"></span>
        </div>
        <div>
            <label asp-for="Country">Страна выпуска </label>
            <input type="text" asp-for="Country" class="form-control" />
            <span asp-validation-for="Country"></span>
        </div>
        <div>
            <label asp-for="Director">Режиссёр </label>
            <input type="text" asp-for="Director" />
            <span asp-validation-for="Director"></span>
        </div>
        <div>
            <label asp-for="Actors">Актеры </label>
            <textarea asp-for="Actors"></textarea>
            <span asp-validation-for="Actors"></span>
        </div>
        <div>
            <label asp-for="Summary">Краткое содержание </label>
            <textarea asp-for="Summary"></textarea>
        </div>
        <div>
            <label asp-for="Price">Цена </label>
            <input type="number" asp-for="Price" min="0" max="50" />
        </div>
        <div>
            <label asp-for="Image">Изображение </label>
            <input type="file" class="form-control-file" asp-for="Image" />
            <span asp-validation-for="Image"></span>
        </div>

    </div>
    <div>
        <input type="submit" value="Добавить" />
    </div>
</form>
@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}