@{
    ViewData["Title"] = "GenresView";
    Layout = "~/Views/Shared/DoubleNavbarLayout.cshtml";
}
<h1 class="text-center">Жанры</h1>
<dl>
    <dt>
        Боевик
    </dt>
    <dd>
        Боеви́к или э́кшен-фильм (экшн-фильм) (англ. action movie — букв. фильм действия) — жанр кинематографа, в котором основное внимание уделяется перестрелкам, дракам, погоням и т. д. Боевики часто обладают высоким бюджетом, изобилуют каскадёрскими трюками и спецэффектами. Большинство боевиков иллюстрируют известный тезис «добро должно быть с кулаками». Фильмы этого жанра зачастую не обладают сложным сюжетом, главный герой обычно сталкивается со злом в самом очевидном его проявлении: терроризм, похищение, убийство, коррупция, несправедливость. Не находя иного выхода, главный герой решает прибегнуть к насилию. В развязке фильма отрицательные персонажи обычно оказываются убиты, реже арестованы. Число убитых отрицательных персонажей и их пособников может достигать десятков и даже сотен. Считается, что популяризация так называемой «эстетики насилия» во многом обязана таким лентам. Фильмы, посвящённые боевым искусствам, обычно рассматриваются как поджанр боевика.
    </dd>
</dl>
<div class="container">
    <div class="row">
        <div class="card col-4 mt-3 p-0 mr-4">
            <img src="~/MovieImages/6fd28f5b-449b-4cdc-a39a-bb098b3cda7f.jpg" class="card-img-top" style="height: 400px" alt="piss" />
            <div class="card-body">
                <h5 class="card-title text-center">Гладиатор</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата релиза: 05/01/2000
                </li>
                <li class="list-group-item">
                    Жанры: Боевик, Приключение, Драма
                </li>
                <li class="list-group-item">
                    Режиссёр: Ридли Скотт
                </li>
                <li class="list-group-item">
                    Цена: 20$
                </li>
                <li class="list-group-item mx-auto mt-1">
                    <a class="btn btn-info mt-2 mx-auto" asp-action="MovieDetails" asp-controller="Home" asp-route-id="47">Детали</a>
                </li>
            </ul>
        </div>
        <div class="card col-4 mt-3 p-0">
            <img src="~/MovieImages/8d2333f5-b7b7-4ede-a365-0010af578120.jpg" class="card-img-top" style="height: 400px" alt="piss" />
            <div class="card-body">
                <h5 class="card-title text-center">Мачо и ботан</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата релиза: 03/12/2012
                </li>
                <li class="list-group-item">
                    Жанры: Боевик, Комедия
                </li>
                <li class="list-group-item">
                    Режиссёр: Ридли Скотт
                </li>
                <li class="list-group-item">
                    Цена: 18$
                </li>
                <li class="list-group-item mx-auto mt-1">
                    <a class="btn btn-info mt-2 mx-auto" asp-action="MovieDetails" asp-controller="Home" asp-route-id="16">Детали</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<dl>
    <dt>Вестерн</dt>
    <dd>Ве́стерн (англ. western, букв.: «западный») — направление искусства, характерное для США. Действие в вестернах в основном происходит во второй половине XIX века на Диком Западе — в будущих западных штатах США, а также в Западной Канаде и Мексике. Может включать в себя различные жанры, например, комедию, боевик, детектив, триллер и даже фантастику; вестерн характерен для кинематографа, телевидения, литературы, живописи и других видов искусства. Впервые появился в литературе, затем в кинематографе. В качестве кинематографического жанра распространился из США на другие страны, которые постепенно создали свои собственные эквиваленты вестерна.</dd>
</dl>
<div class="container">
    <div class="row">
        <div class="card col-4 mt-3 p-0 mr-4">
            <img src="~/MovieImages/c325244f-f58a-4eea-8e39-d7eca038a5ae.jpg" class="card-img-top" style="height: 400px" alt="piss" />
            <div class="card-body">
                <h5 class="card-title text-center">Джанго освобожденный</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата релиза: 12/11/2012
                </li>
                <li class="list-group-item">
                    Жанры: Драма, Вестерн, Комедия, Приключение
                </li>
                <li class="list-group-item">
                    Режиссёр: Квентин Тарантино
                </li>
                <li class="list-group-item">
                    Цена: 20$
                </li>
                <li class="list-group-item mx-auto mt-1">
                    <a class="btn btn-info mt-2 mx-auto" asp-action="MovieDetails" asp-controller="Home" asp-route-id="28">Детали</a>
                </li>
            </ul>
        </div>
        <div class="card col-4 mt-3 p-0">
            <img src="~/MovieImages/The_Hateful_Eight.jpg" class="card-img-top" style="height: 400px" alt="piss" />
            <div class="card-body">
                <h5 class="card-title text-center">Омерзительная восьмерка</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата релиза: 01/11/2016
                </li>
                <li class="list-group-item">
                    Жанры: Вестерн, Детектив, Триллер
                </li>
                <li class="list-group-item">
                    Режиссёр: Квентин Тарантино
                </li>
                <li class="list-group-item">
                    Цена: 20$
                </li>
                <li class="list-group-item mx-auto mt-1">
                    <a class="btn btn-info mt-2 mx-auto" asp-action="MovieDetails" asp-controller="Home" asp-route-id="11">Детали</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<dl>
    <dt>Гангстерский фильм</dt>
    <dd>Гангстерский фильм (англ. Gangster film или Mob film, от англ. mob — банда, шайка) — поджанр боевика, криминального фильма, рассказывающий об организованной преступности. В большинстве классических примеров этого направления действие происходит в США в 1920-е — 1950-е годы — период расцвета гангстерских группировок. В отличие от так называемых полицейских фильмов, в гангстерской драме главными персонажами выступают не служители правопорядка, а преступники и лидеры криминальных сообществ, что часто приводит к попытке оправдания их действий и романтизации их образа жизни.</dd>
</dl>
<div class="container">
    <div class="row">
        <div class="card col-4 mt-3 p-0 mr-4">
            <img src="~/MovieImages/123e4cf8-5a2f-4bc1-b339-8f8e3e47c16e.png" class="card-img-top" style="height: 400px" alt="piss" />
            <div class="card-body">
                <h5 class="card-title text-center">Крёстный Отец</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата релиза: 03/15/1972
                </li>
                <li class="list-group-item">
                    Жанры: Драма, Гангстерский фильм
                </li>
                <li class="list-group-item">
                    Режиссёр: Фрэнсис Форд Коппола
                </li>
                <li class="list-group-item">
                    Цена: 15$
                </li>
                <li class="list-group-item mx-auto mt-1">
                    <a class="btn btn-info mt-2 mx-auto" asp-action="MovieDetails" asp-controller="Home" asp-route-id="13">Детали</a>
                </li>
            </ul>
        </div>
        <div class="card col-4 mt-3 p-0">
            <img src="~/MovieImages/184c886a-9a38-484c-acda-6e52bfd3a78b.jpg" class="card-img-top" style="height: 400px" alt="piss" />
            <div class="card-body">
                <h5 class="card-title text-center">Бронкская история</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата релиза: 09/09/1993
                </li>
                <li class="list-group-item">
                    Жанры: Драма, Гангстерский фильм, Криминал
                </li>
                <li class="list-group-item">
                    Режиссёр: Роберт Де Ниро
                </li>
                <li class="list-group-item">
                    Цена: 15$
                </li>
                <li class="list-group-item mx-auto mt-1">
                    <a class="btn btn-info mt-2 mx-auto" asp-action="MovieDetails" asp-controller="Home" asp-route-id="29">Детали</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<dl>
    <dt>Катастрофа</dt>
    <dd>Фильм-катастро́фа или фильм катастроф (англ. disaster film) — фильм, герои которого попали в катастрофу и пытаются спастись. Специфическая разновидность триллера и драмы. Речь может идти как о природном бедствии (смерч, землетрясение, извержение вулкана и т. п.), так и о техногенной катастрофе (например, крушение самолёта).</dd>
</dl>
<div class="container">
    <div class="row">
        <div class="card col-4 mt-3 p-0 mr-4">
            <img src="~/MovieImages/6784f186-6fb0-4e1d-ad1a-6cb95c22e1e2.jpg" class="card-img-top" style="height: 400px" alt="piss" />
            <div class="card-body">
                <h5 class="card-title text-center">Титаник</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата релиза: 11/01/1997
                </li>
                <li class="list-group-item">
                    Жанры: Драма, Мелодрама, Катастрофа
                </li>
                <li class="list-group-item">
                    Режиссёр: Джеймс Кэмерон
                </li>
                <li class="list-group-item">
                    Цена: 15$
                </li>
                <li class="list-group-item mx-auto mt-1">
                    <a class="btn btn-info mt-2 mx-auto" asp-action="MovieDetails" asp-controller="Home" asp-route-id="34">Детали</a>
                </li>
            </ul>
        </div>
        <div class="card col-4 mt-3 p-0">
            <img src="~/MovieImages/74d70f59-fbcf-4852-80cf-910f3bea3904.jpg" class="card-img-top" style="height: 400px" alt="piss" />
            <div class="card-body">
                <h5 class="card-title text-center">
                    2012
                </h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата релиза: 11/11/2009
                </li>
                <li class="list-group-item">
                    Жанры: Боевик, Приключение, Катастрофа
                </li>
                <li class="list-group-item">
                    Режиссёр: Роланд Эммерих
                </li>
                <li class="list-group-item">
                    Цена: 10$
                </li>
                <li class="list-group-item mx-auto mt-1">
                    <a class="btn btn-info mt-2 mx-auto" asp-action="MovieDetails" asp-controller="Home" asp-route-id="43">Детали</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<dl>
    <dt>Драма</dt>
    <dd>
        Дра́ма (др.-греч. δρᾶμα «деяние, действие») — литературный (драматический), сценический и кинематографический жанр. Получил особое распространение в литературе XVIII−XXI веков, постепенно вытеснив другой жанр драматургии — трагедию, противопоставив ему преимущественно бытовой сюжет и более приближенный к обыденной реальности стиль. С возникновением кинематографа перешёл также и в этот вид искусства, став одним из самых распространённых его жанров (см. соответствующую категорию).
        В отличие от лирики и подобно эпосу, драма воспроизводит прежде всего внешний мир — взаимоотношения между людьми, их поступки, возникающие конфликты. В отличие от эпоса, она имеет не повествовательную, а диалогическую форму. Эстетический предмет драмы — эмоционально-волевые реакции человека, проявленные в словесно-физических действиях. Для драматических произведений характерны остро-конфликтные ситуации, властно побуждающие персонажа к словесно-физическому действию. Драмы специфически изображают, как правило, частную жизнь человека и его социальные конфликты. При этом акцент часто делается на общечеловеческих противоречиях, воплощённых в поведении и поступках конкретных персонажей.
    </dd>
</dl>
<div class="container">
    <div class="row">
        <div class="card col-4 mt-3 p-0 mr-4">
            <img src="~/MovieImages/52f334ec-2fb8-47a6-bad0-04327872bf1a.jpg" class="card-img-top" style="height: 400px" alt="piss" />
            <div class="card-body">
                <h5 class="card-title text-center">Загадочная история Бенджамина Баттона</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата релиза: 12/10/2008
                </li>
                <li class="list-group-item">
                    Жанры: Драма, Фантастика
                </li>
                <li class="list-group-item">
                    Режиссёр: Дэвид Финчер
                </li>
                <li class="list-group-item">
                    Цена: 15$
                </li>
                <li class="list-group-item mx-auto mt-1">
                    <a class="btn btn-info mt-2 mx-auto" asp-action="MovieDetails" asp-controller="Home" asp-route-id="18">Детали</a>
                </li>
            </ul>
        </div>
        <div class="card col-4 mt-3 p-0">
            <img src="~/MovieImages/4ca275da-37f1-41a4-ac26-708a21c745d0.jpg" class="card-img-top" style="height: 400px" alt="piss" />
            <div class="card-body">
                <h5 class="card-title text-center">
                    Игры разума
                </h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата релиза: 12/21/2001
                </li>
                <li class="list-group-item">
                    Жанры: Драма, Биографический
                </li>
                <li class="list-group-item">
                    Режиссёр: Рон Ховард
                </li>
                <li class="list-group-item">
                    Цена: 20$
                </li>
                <li class="list-group-item mx-auto mt-1">
                    <a class="btn btn-info mt-2 mx-auto" asp-action="MovieDetails" asp-controller="Home" asp-route-id="1">Детали</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<dl>
    <dt>Исторический фильм</dt>
    <dd>Истори́ческое или костюмное кино — жанр игрового кино, изображающий конкретные исторические эпохи, события и личности прошлого. Различают историко-биографические фильмы о реальных исторических деятелях, иллюстрирующие их жизненный путь («Спартак», «Александр Невский)», и историко-приключенческие фильмы о вымышленных персонажах прошлых лет, зачастую с остросюжетной интригой («Граф Монте-Кристо», фильмы про Индиану Джонса). Исторические фильмы нередко являются экранизациями исторических романов («Война и мир» Л. Н. Толстого).</dd>
</dl>
<div class="container">
    <div class="row">
        <div class="card col-4 mt-3 p-0 mr-4">
            <img src="~/MovieImages/4008f7e2-7608-49c0-bce5-ec79d20b3e27.png" class="card-img-top" style="height: 400px" alt="piss" />
            <div class="card-body">
                <h5 class="card-title text-center">Брексит</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата релиза: 01/07/2019
                </li>
                <li class="list-group-item">
                    Жанры: Драма, Исторический фильм, Биографический
                </li>
                <li class="list-group-item">
                    Режиссёр: Тоби Хэйнс
                </li>
                <li class="list-group-item">
                    Цена: 5$
                </li>
                <li class="list-group-item mx-auto mt-1">
                    <a class="btn btn-info mt-2 mx-auto" asp-action="MovieDetails" asp-controller="Home" asp-route-id="30">Детали</a>
                </li>
            </ul>
        </div>
        <div class="card col-4 mt-3 p-0">
            <img src="~/MovieImages/bf51f24a-0067-4925-99b8-259036ea43b5.jpg" class="card-img-top" style="height: 400px" alt="piss" />
            <div class="card-body">
                <h5 class="card-title text-center">
                    Список Шиндлера
                </h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата релиза: 11/30/1993
                </li>
                <li class="list-group-item">
                    Жанры: Драма, Исторический фильм, Биографический
                </li>
                <li class="list-group-item">
                    Режиссёр: Стивен Спилберг
                </li>
                <li class="list-group-item">
                    Цена: 25$
                </li>
                <li class="list-group-item mx-auto mt-1">
                    <a class="btn btn-info mt-2 mx-auto" asp-action="MovieDetails" asp-controller="Home" asp-route-id="31">Детали</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<dl>
    <dt>Нуар</dt>
    <dd>Нуа́р (фр. film noir «чёрный фильм») — кинематографический термин, применяемый к голливудским криминальным драмам 1940-х — 1950-х годов, в которых запечатлена атмосфера пессимизма, недоверия, разочарования и цинизма, характерная для американского общества во время Второй мировой войны и в первые годы холодной войны.</dd>
</dl>
<div class="container">
    <div class="row">
        <div class="card col-4 mt-3 p-0 mr-4">
            <img src="~/MovieImages/fb475367-3260-48e5-86ac-4b8a64b3fbf4.jpg" class="card-img-top" style="height: 400px" alt="piss" />
            <div class="card-body">
                <h5 class="card-title text-center">Мальтийский сокол</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата релиза: 11/03/1941
                </li>
                <li class="list-group-item">
                    Жанры: Драма, Детектив, Нуар
                </li>
                <li class="list-group-item">
                    Режиссёр: Джон Хьюстон
                </li>
                <li class="list-group-item">
                    Цена: 10$
                </li>
                <li class="list-group-item mx-auto mt-1">
                    <a class="btn btn-info mt-2 mx-auto" asp-action="MovieDetails" asp-controller="Home" asp-route-id="37">Детали</a>
                </li>
            </ul>
        </div>
        <div class="card col-4 mt-3 p-0">
            <img src="~/MovieImages/fac86690-e7cc-43a8-af22-d0bf61c14017.jpg" class="card-img-top" style="height: 400px" alt="piss" />
            <div class="card-body">
                <h5 class="card-title text-center">
                    Двойная страховка
                </h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата релиза: 07/03/1944
                </li>
                <li class="list-group-item">
                    Жанры: Детектив, Нуар, Триллер, Криминал
                </li>
                <li class="list-group-item">
                    Режиссёр: Билли Уайлдер
                </li>
                <li class="list-group-item">
                    Цена: 5$
                </li>
                <li class="list-group-item mx-auto mt-1">
                    <a class="btn btn-info mt-2 mx-auto" asp-action="MovieDetails" asp-controller="Home" asp-route-id="38">Детали</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<dl>
    <dt>Криминал</dt>
    <dd>
        Криминальный фильм - жанр кинематографа, произведения которого содержат демонстрацию преступных деяний и их расследования.
        Возник практически одновременно с появлением кинематографа. Главными героями детективных фильмов оказываются нарушители закона и их жертвы, заключенные, следователи, работники полиции, адвокаты. Детективные фильмы эксплуатируют желание зрителя заглянуть в преступный мир и одновременно избежать роковых последствий, связанных с этим опытом в реальной жизни. Данная двойственность - страх столкнуться с настоящим преступлением и привлекательность криминальной жизни - объясняет популярность жанра.
    </dd>
</dl>
<div class="container">
    <div class="row">
        <div class="card col-4 mt-3 p-0 mr-4">
            <img src="~/MovieImages/a4641072-cab8-4d8b-a79f-7a40adeebe2f.jpg" class="card-img-top" style="height: 400px" alt="piss" />
            <div class="card-body">
                <h5 class="card-title text-center">Криминальное чтиво</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата релиза: 05/21/1994
                </li>
                <li class="list-group-item">
                    Жанры: Драма, Триллер, Криминал
                </li>
                <li class="list-group-item">
                    Режиссёр: Квентин Тарантино
                </li>
                <li class="list-group-item">
                    Цена: 35$
                </li>
                <li class="list-group-item mx-auto mt-1">
                    <a class="btn btn-info mt-2 mx-auto" asp-action="MovieDetails" asp-controller="Home" asp-route-id="46">Детали</a>
                </li>
            </ul>
        </div>
        <div class="card col-4 mt-3 p-0">
            <img src="~/MovieImages/83ea9095-9d51-47ff-9f08-0505e94185b2.jpg" class="card-img-top" style="height: 400px" alt="piss" />
            <div class="card-body">
                <h5 class="card-title text-center">
                    Тринадцать друзей Оушена
                </h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата релиза: 05/24/2007
                </li>
                <li class="list-group-item">
                    Жанры: Триллер, Криминал
                </li>
                <li class="list-group-item">
                    Режиссёр: Стивен Содерберг
                </li>
                <li class="list-group-item">
                    Цена: 14$
                </li>
                <li class="list-group-item mx-auto mt-1">
                    <a class="btn btn-info mt-2 mx-auto" asp-action="MovieDetails" asp-controller="Home" asp-route-id="17">Детали</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<dl>
    <dt>Биографический фильм</dt>
    <dd>Фильм-биография — кинематографический жанр (или отдельное художественное произведение), повествующий о судьбе знаменитой, известной личности на протяжении всей жизни или в наиболее важные драматические её моменты. В отличие от картин, основанных на подлинных событиях, или исторических фильмов, целью фильма-биографии является не хроникальное освещение случившихся фактов и событий, а влияние конкретной персоны на их исход.</dd>
</dl>
<div class="container">
    <div class="row">
        <div class="card col-4 mt-3 p-0 mr-4">
            <img src="~/MovieImages/4ca275da-37f1-41a4-ac26-708a21c745d0.jpg" class="card-img-top" style="height: 400px" alt="piss" />
            <div class="card-body">
                <h5 class="card-title text-center">
                    Игры разума
                </h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата релиза: 12/21/2001
                </li>
                <li class="list-group-item">
                    Жанры: Драма, Биографический
                </li>
                <li class="list-group-item">
                    Режиссёр: Рон Ховард
                </li>
                <li class="list-group-item">
                    Цена: 20$
                </li>
                <li class="list-group-item mx-auto mt-1">
                    <a class="btn btn-info mt-2 mx-auto" asp-action="MovieDetails" asp-controller="Home" asp-route-id="1">Детали</a>
                </li>
            </ul>
        </div>
        <div class="card col-4 mt-3 p-0 mr-4">
            <img src="~/MovieImages/bf51f24a-0067-4925-99b8-259036ea43b5.jpg" class="card-img-top" style="height: 400px" alt="piss" />
            <div class="card-body">
                <h5 class="card-title text-center">
                    Список Шиндлера
                </h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата релиза: 11/30/1993
                </li>
                <li class="list-group-item">
                    Жанры: Драма, Исторический фильм, Биографический
                </li>
                <li class="list-group-item">
                    Режиссёр: Стивен Спилберг
                </li>
                <li class="list-group-item">
                    Цена: 25$
                </li>
                <li class="list-group-item mx-auto mt-1">
                    <a class="btn btn-info mt-2 mx-auto" asp-action="MovieDetails" asp-controller="Home" asp-route-id="31">Детали</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<dl>
    <dt>Комедия</dt>
    <dd>
        К этому жанру киноискусства относятся фильмы, которые ставят целью рассмешить зрителя, вызвать улыбку, улучшить настроение. Наряду с драмой, фильмами ужасов и научной фантастикой, комедия — один из основных жанров кинофильмов.Кинокомедия появилась почти одновременно с возникновением кинематографа. Ранние немые комедии продолжали пользоваться большой популярностью у зрителей даже после появления звука. Самым известным комиком эпохи немого кино был Чарли Чаплин.
    </dd>
</dl>
<div class="container">
    <div class="row">
        <div class="card col-4 mt-3 p-0 mr-4">
            <img src="~/MovieImages/8bea0e91-9b98-439f-a0ad-9100fe62e7fd.jpg" class="card-img-top" style="height: 400px" alt="piss" />
            <div class="card-body">
                <h5 class="card-title text-center">
                    Мальчишник в Вегасе
                </h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата релиза: 05/31/2009
                </li>
                <li class="list-group-item">
                    Жанры: Комедия
                </li>
                <li class="list-group-item">
                    Режиссёр: Тодд Филлипс
                </li>
                <li class="list-group-item">
                    Цена: 15$
                </li>
                <li class="list-group-item mx-auto mt-1">
                    <a class="btn btn-info mt-2 mx-auto" asp-action="MovieDetails" asp-controller="Home" asp-route-id="32">Детали</a>
                </li>
            </ul>
        </div>
        <div class="card col-4 mt-3 p-0">
            <img src="~/MovieImages/2ecb96f1-34cc-4ce7-9cf4-88fb2300ea2c.jpg" class="card-img-top" style="height: 400px" alt="piss" />
            <div class="card-body">
                <h5 class="card-title text-center">
                    Один дома
                </h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата релиза: 12/04/1990
                </li>
                <li class="list-group-item">
                    Жанры: Комедия, Приключение
                </li>
                <li class="list-group-item">
                    Режиссёр: Крис Коламбус
                </li>
                <li class="list-group-item">
                    Цена: 10$
                </li>
                <li class="list-group-item mx-auto mt-1">
                    <a class="btn btn-info mt-2 mx-auto" asp-action="MovieDetails" asp-controller="Home" asp-route-id="2">Детали</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<dl>
    <dt>Мелодрама</dt>
    <dd>Мелодра́ма — жанр художественной литературы, театрального искусства и кинематографа, произведения которого раскрывают духовный и чувственный мир героев в особенно ярких эмоциональных обстоятельствах на основе контрастов: добро и зло, любовь и ненависть и тому подобного. Как правило, сюжеты мелодрам концентрируются вокруг семейных тем (любовь, брак, женитьба, знакомство, перипетии семейной жизни) и редко выходят в иные плоскости, хотя многие мелодрамы имеют черты исторических драм и разворачиваются в том или ином схематично поданном историческом контексте. В сюжете могут быть и трагические сцены, в большинстве случаев завершающиеся счастливым концом. В мелодраме эмоциональная сгущённость текста, острота интриги подавляют тонкую разработку характеров, которые обычно стереотипны и ведут себя предсказуемо. Кинематографические и театральные мелодрамы традиционно сопровождаются музыкальными номерами, подчёркивающими эмоциональность истории.</dd>
</dl>
<div class="container">
    <div class="row">
        <div class="card col-4 mt-3 p-0 mr-4">
            <img src="~/MovieImages/b14d7980-47aa-4622-954e-9a9a7ada9328.jpg" class="card-img-top" style="height: 400px" alt="piss" />
            <div class="card-body">
                <h5 class="card-title text-center">
                    Форрест Гамп
                </h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата релиза: 06/23/1994
                </li>
                <li class="list-group-item">
                    Жанры: Драма, Мелодрама
                </li>
                <li class="list-group-item">
                    Режиссёр: Роберт Земекис
                </li>
                <li class="list-group-item">
                    Цена: 20$
                </li>
                <li class="list-group-item mx-auto mt-1">
                    <a class="btn btn-info mt-2 mx-auto" asp-action="MovieDetails" asp-controller="Home" asp-route-id="33">Детали</a>
                </li>
            </ul>
        </div>
        <div class="card col-4 mt-3 p-0">
            <img src="~/MovieImages/6784f186-6fb0-4e1d-ad1a-6cb95c22e1e2.jpg" class="card-img-top" style="height: 400px" alt="piss" />
            <div class="card-body">
                <h5 class="card-title text-center">
                    Титаник
                </h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата релиза: 11/01/1997
                </li>
                <li class="list-group-item">
                    Жанры: Драма, Мелодрама, Катастрофа
                </li>
                <li class="list-group-item">
                    Режиссёр: Джеймс Кэмерон
                </li>
                <li class="list-group-item">
                    Цена: 15$
                </li>
                <li class="list-group-item mx-auto mt-1">
                    <a class="btn btn-info mt-2 mx-auto" asp-action="MovieDetails" asp-controller="Home" asp-route-id="34">Детали</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<dl>
    <dt>Мюзикл</dt>
    <dd>Музыка́льный фильм — разновидность звукового кино. Жанр киноискусства, особенность которого состоит в том, что актёры фильма не только участвуют в диалогах, но и исполняют песни, содержание которых дополняет сюжет. Множество музыкальных фильмов снимается на основе мюзиклов и оперетт. Также музыкальные фильмы часто становятся удобным форматом для профессиональных певцов, приглашённых играть главные роли. К музыкальным также относят фильмы, в которых актёры не поют, а танцуют под музыку, причём эти танцы являются частью сюжета</dd>
</dl>
<div class="container">
    <div class="row">
        <div class="card col-4 mt-3 p-0 mr-4">
            <img src="~/MovieImages/43e06251-5e63-45cb-9e22-8a5b882baa72.jpg" class="card-img-top" style="height: 400px" alt="piss" />
            <div class="card-body">
                <h5 class="card-title text-center">
                    Ла-Ла Ленд
                </h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата релиза: 08/31/2016
                </li>
                <li class="list-group-item">
                    Жанры: Драма, Комедия, Мелодрама, Мюзикл
                </li>
                <li class="list-group-item">
                    Режиссёр: Дэмьен Шазелл
                </li>
                <li class="list-group-item">
                    Цена: 10$
                </li>
                <li class="list-group-item mx-auto mt-1">
                    <a class="btn btn-info mt-2 mx-auto" asp-action="MovieDetails" asp-controller="Home" asp-route-id="35">Детали</a>
                </li>
            </ul>
        </div>
        <div class="card col-4 mt-3 p-0">
            <img src="~/MovieImages/5d62e3ea-09d0-43f1-a7f3-cf858a22aaf0.jpg" class="card-img-top" style="height: 400px" alt="piss" />
            <div class="card-body">
                <h5 class="card-title text-center">
                    Отверженные
                </h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата релиза: 12/05/2012
                </li>
                <li class="list-group-item">
                    Жанры: Драма, Исторический фильм, Мелодрама, Музыкальный фильм
                </li>
                <li class="list-group-item">
                    Режиссёр: Том Хупер
                </li>
                <li class="list-group-item">
                    Цена: 8$
                </li>
                <li class="list-group-item mx-auto mt-1">
                    <a class="btn btn-info mt-2 mx-auto" asp-action="MovieDetails" asp-controller="Home" asp-route-id="36">Детали</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<dl>
    <dt>Триллер</dt>
    <dd>Три́ллер (от англ. thrill — трепет, волнение) — жанр произведений литературы и кино, нацеленный вызвать у зрителя или читателя чувства тревожного ожидания, волнения или страха. Жанр не имеет чётких границ, элементы триллера присутствуют во многих произведениях разных жанров. В кинематографе к триллерам зачастую относят детективные и шпионские фильмы, фильмы ужасов, приключенческие фильмы, а также боевики.</dd>
</dl>
<div class="container">
    <div class="row">
        <div class="card col-4 mt-3 p-0 mr-4">
            <img src="~/MovieImages/cb2db675-3f1a-46cf-b644-345a59c1646d.png" class="card-img-top" style="height: 400px" alt="piss" />
            <div class="card-body">
                <h5 class="card-title text-center">
                    Остров проклятых
                </h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата релиза: 02/13/2010
                </li>
                <li class="list-group-item">
                    Жанры: Драма, Детектив, Триллер
                </li>
                <li class="list-group-item">
                    Режиссёр: Мартин Скорсезе
                </li>
                <li class="list-group-item">
                    Цена: 25$
                </li>
                <li class="list-group-item mx-auto mt-1">
                    <a class="btn btn-info mt-2 mx-auto" asp-action="MovieDetails" asp-controller="Home" asp-route-id="15">Детали</a>
                </li>
            </ul>
        </div>
        <div class="card col-4 mt-3 p-0">
            <img src="~/MovieImages/The_Hateful_Eight.jpg" class="card-img-top" style="height: 400px" alt="piss" />
            <div class="card-body">
                <h5 class="card-title text-center">
                    Омерзительная восьмерка
                </h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата релиза: 01/11/2016
                </li>
                <li class="list-group-item">
                    Жанры: Вестерн, Детектив, Триллер
                </li>
                <li class="list-group-item">
                    Режиссёр: Квентин Тарантино
                </li>
                <li class="list-group-item">
                    Цена: 20$
                </li>
                <li class="list-group-item mx-auto mt-1">
                    <a class="btn btn-info mt-2 mx-auto" asp-action="MovieDetails" asp-controller="Home" asp-route-id="11">Детали</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<dl>
    <dt>Приключение</dt>
    <dd>Приключе́нческий фильм (также Авантюрный фильм) — остросюжетный вид игрового фильма, соответствующий приключенческому роману в литературе. В отличие от боевика, в приключенческих фильмах акцент смещён с грубого насилия на смекалку персонажей, умение перехитрить, обмануть злодея. В приключенческих фильмах героям предстоит оригинально выпутаться из сложных ситуаций. Счастливый конец также очень вероятен.</dd>
</dl>
<div class="container">
    <div class="row">
        <div class="card col-4 mt-3 p-0 mr-4">
            <img src="~/MovieImages/37b097f4-f960-45b7-8edc-39180de1dfc5.jpg" class="card-img-top" style="height: 400px" alt="piss" />
            <div class="card-body">
                <h5 class="card-title text-center">
                    Один дома 2
                </h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата релиза: 11/15/1992
                </li>
                <li class="list-group-item">
                    Жанры: Комедия, Приключение
                </li>
                <li class="list-group-item">
                    Режиссёр: Крис Коламбус
                </li>
                <li class="list-group-item">
                    Цена: 17$
                </li>
                <li class="list-group-item mx-auto mt-1">
                    <a class="btn btn-info mt-2 mx-auto" asp-action="MovieDetails" asp-controller="Home" asp-route-id="7">Детали</a>
                </li>
            </ul>
        </div>
        <div class="card col-4 mt-3 p-0">
            <img src="~/MovieImages/6fd28f5b-449b-4cdc-a39a-bb098b3cda7f.jpg" class="card-img-top" style="height: 400px" alt="piss" />
            <div class="card-body">
                <h5 class="card-title text-center">Гладиатор</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата релиза: 05/01/2000
                </li>
                <li class="list-group-item">
                    Жанры: Боевик, Приключение, Драма
                </li>
                <li class="list-group-item">
                    Режиссёр: Ридли Скотт
                </li>
                <li class="list-group-item">
                    Цена: 20$
                </li>
                <li class="list-group-item mx-auto mt-1">
                    <a class="btn btn-info mt-2 mx-auto" asp-action="MovieDetails" asp-controller="Home" asp-route-id="47">Детали</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<dl>
    <dt>Мультфильм</dt>
    <dd>Мультфильм, мультипликационный фильм (от слияния лат. multiplicatio — умножение и англ. film — плёнка; разг. мультик), также анимационный фильм — фильм, выполненный при помощи средств мультипликации, то есть покадрового запечатления созданных художником объёмных и плоских изображений или объектов предметно-реального мира на кино- и видеоплёнке или на цифровых носителях. Мультфильмы создаются для демонстрации зрителям в кинотеатре, трансляции по телевидению, просмотра на экране компьютера и на других электронных устройствах.</dd>
</dl>
<div class="container">
    <div class="row">
        <div class="card col-4 mt-3 p-0 mr-4">
            <img src="~/MovieImages/ba0175f1-4777-4e56-a79a-1d94fcbb5344.jpg" class="card-img-top" style="height: 400px" alt="piss" />
            <div class="card-body">
                <h5 class="card-title text-center">
                    Леди и Бродяга
                </h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата релиза: 06/16/1955
                </li>
                <li class="list-group-item">
                    Жанры: Мультфильм
                </li>
                <li class="list-group-item">
                    Режиссёр: Клайд Джероними
                </li>
                <li class="list-group-item">
                    Цена: 5$
                </li>
                <li class="list-group-item mx-auto mt-1">
                    <a class="btn btn-info mt-2 mx-auto" asp-action="MovieDetails" asp-controller="Home" asp-route-id="25">Детали</a>
                </li>
            </ul>
        </div>
        <div class="card col-4 mt-3 p-0">
            <img src="~/MovieImages/20e3d4cd-50f0-41fe-840a-45482a91c0cb.jpg" class="card-img-top" style="height: 400px" alt="piss" />
            <div class="card-body">
                <h5 class="card-title text-center">Питер Пэн</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата релиза: 02/05/1953
                </li>
                <li class="list-group-item">
                    Жанры: Мультфильм
                </li>
                <li class="list-group-item">
                    Режиссёр: Клайд Джероними
                </li>
                <li class="list-group-item">
                    Цена: 3$
                </li>
                <li class="list-group-item mx-auto mt-1">
                    <a class="btn btn-info mt-2 mx-auto" asp-action="MovieDetails" asp-controller="Home" asp-route-id="26">Детали</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<dl>
    <dt>Сказка</dt>
    <dd>
        Фильм-сказка, или киносказка, — жанр кинематографа, рассчитанный на детское восприятие.
        Киносказка была почётным и развитым направлением в советской киноиндустрии.Впервые фильм-сказка был снят в Великобритании в 1898 году. — для экранизации была выбрана сказка «Золушка». Годом позже своя экранизация «Золушки» появилась во Франции.
    </dd>
</dl>
<div class="container">
    <div class="row">
        <div class="card col-4 mt-3 p-0 mr-4">
            <img src="~/MovieImages/c9123217-714a-4275-a781-a56c34763ea5.jpg" class="card-img-top" style="height: 400px" alt="piss" />
            <div class="card-body">
                <h5 class="card-title text-center">
                    Бременские музыканты
                </h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата релиза: 09/01/1973
                </li>
                <li class="list-group-item">
                    Жанры: Сказка
                </li>
                <li class="list-group-item">
                    Режиссёр: Инесса Ковалевская
                </li>
                <li class="list-group-item">
                    Цена: 15$
                </li>
                <li class="list-group-item mx-auto mt-1">
                    <a class="btn btn-info mt-2 mx-auto" asp-action="MovieDetails" asp-controller="Home" asp-route-id="41">Детали</a>
                </li>
            </ul>
        </div>
        <div class="card col-4 mt-3 p-0">
            <img src="~/MovieImages/bee93fde-e2cf-480d-ad52-835757d89f14.jpg" class="card-img-top" style="height: 400px" alt="piss" />
            <div class="card-body">
                <h5 class="card-title text-center">Белоснежка и семь гномов</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата релиза: 12/21/1937
                </li>
                <li class="list-group-item">
                    Жанры: Сказка
                </li>
                <li class="list-group-item">
                    Режиссёр: Уильям Коттрелл
                </li>
                <li class="list-group-item">
                    Цена: 10$
                </li>
                <li class="list-group-item mx-auto mt-1">
                    <a class="btn btn-info mt-2 mx-auto" asp-action="MovieDetails" asp-controller="Home" asp-route-id="42">Детали</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<dl>
    <dt>Фантастика</dt>
    <dd>направление и жанр художественной кинематографии, который можно охарактеризовать повышенным уровнем условности. Образы, события и антураж фантастических фильмов часто намеренно отстранены от обыденной реальности — это может делаться как для достижения специфических художественных задач, добиться которых создателям фильма удобнее средствами фантастики, чем средствами реалистического кино, так и просто для развлечения зрителя (последнее характерно прежде всего для жанрового кино). Характер условности зависит от конкретного направления или жанра — научная фантастика, фэнтези, фильм ужасов, фантасмагория, — однако все они могут широко пониматься как кинофантастика.</dd>
</dl>
<div class="container">
    <div class="row">
        <div class="card col-4 mt-3 p-0 mr-4">
            <img src="~/MovieImages/62232ba5-36a7-4796-8a14-90009c082ecd.jpg" class="card-img-top" style="height: 400px" alt="piss" />
            <div class="card-body">
                <h5 class="card-title text-center">
                    Хоббит: Нежданное путешествие
                </h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата релиза: 12/14/2012
                </li>
                <li class="list-group-item">
                    Жанры: Приключение, Фантастика
                </li>
                <li class="list-group-item">
                    Режиссёр: Питер Джексон
                </li>
                <li class="list-group-item">
                    Цена: 20$
                </li>
                <li class="list-group-item mx-auto mt-1">
                    <a class="btn btn-info mt-2 mx-auto" asp-action="MovieDetails" asp-controller="Home" asp-route-id="14">Детали</a>
                </li>
            </ul>
        </div>
        <div class="card col-4 mt-3 p-0">
            <img src="~/MovieImages/b4d52bf4-adf8-4988-b0f7-6912ed56747e.jpg" class="card-img-top" style="height: 400px" alt="piss" />
            <div class="card-body">
                <h5 class="card-title text-center">Матрица</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата релиза: 03/24/1999
                </li>
                <li class="list-group-item">
                    Жанры: Боевик, Фантастика
                </li>
                <li class="list-group-item">
                    Режиссёр: Лана Вачовски, Лилли Вачовски
                </li>
                <li class="list-group-item">
                    Цена: 20$
                </li>
                <li class="list-group-item mx-auto mt-1">
                    <a class="btn btn-info mt-2 mx-auto" asp-action="MovieDetails" asp-controller="Home" asp-route-id="48">Детали</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<dl>
    <dt>Ужасы</dt>
    <dd>Фильм ужасов (разг. ужа́стик, хо́ррор; англ. horror film, horror movie) — жанр художественного фильма. Тематически обширный и разнообразный круг фильмов, призванных вызвать у зрителей чувство страха, тревоги и неопределённости, создать напряжённую атмосферу ужаса или мучительного ожидания чего-либо ужасного — так называемый эффект «саспенс» (от англ. suspense — неопределённость). Однако касательно именования жанра существуют и другие мнения. Так, известный в хоррор-кругах актёр Кристофер Ли в одном из своих интервью, данном в 1975 году, утверждал, что термин horror неверен, поскольку ужас подразумевает чувство отвращения или омерзения, что отнюдь не является целью этих картин, по крайней мере почти всегда. Условность таких фильмов делает их безвредными</dd>
</dl>
<div class="container">
    <div class="row">
        <div class="card col-4 mt-3 p-0 mr-4 mb-3">
            <img src="~/MovieImages/f08356db-31d8-4d95-a07a-161c9d55cc54.jpg" class="card-img-top" style="height: 400px" alt="piss" />
            <div class="card-body">
                <h5 class="card-title text-center">
                    Заклятие
                </h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата релиза: 05/08/2013
                </li>
                <li class="list-group-item">
                    Жанры: Триллер, Ужасы
                </li>
                <li class="list-group-item">
                    Режиссёр: Джеймс Ван
                </li>
                <li class="list-group-item">
                    Цена: 30$
                </li>
                <li class="list-group-item mx-auto mt-1">
                    <a class="btn btn-info mt-2 mx-auto" asp-action="MovieDetails" asp-controller="Home" asp-route-id="44">Детали</a>
                </li>
            </ul>
        </div>
        <div class="card col-4 mt-3 p-0 mb-3">
            <img src="~/MovieImages/9f7a2697-b88d-4559-bb59-298b0a5c1d17.jpg" class="card-img-top" style="height: 400px" alt="piss" />
            <div class="card-body">
                <h5 class="card-title text-center">Синистер</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата релиза: 03/11/2012
                </li>
                <li class="list-group-item">
                    Жанры: Детектив, Триллер, Ужасы
                </li>
                <li class="list-group-item">
                    Режиссёр: Скотт Дерриксон
                </li>
                <li class="list-group-item">
                    Цена: 15$
                </li>
                <li class="list-group-item mx-auto mt-1">
                    <a class="btn btn-info mt-2 mx-auto" asp-action="MovieDetails" asp-controller="Home" asp-route-id="45">Детали</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<footer class="bg-dark container">
    <div class="container-fluid text-center text-md-left">
        <div class="bg-dark text-center py-3" style="color:white">
            © 2020 Copyright:
            <a asp-action="Index" asp-controller="Home">Filmoteka.com</a>
        </div>
    </div>
</footer>
