
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-expand-lg navbar-dark bg-light">
    <ul id="multicol-menu" class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" role="button" style="color:black" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Фильмы </a>
            <ul class="dropdown-menu">
                <li>
                    <h6 class="dropdown-header">Жанры</h6>
                    <div class="row" style="width: 675px;">
                        <ul class="list-unstyled col-md-3">
                            <li><a class="dropdown-item" asp-action="MoviesOfGenre" asp-route-id="26">Боевик</a></li>
                            <li><a class="dropdown-item" asp-action="MoviesOfGenre" asp-route-id="27">Вестерн</a></li>
                            <li><a class="dropdown-item" asp-action="MoviesOfGenre" asp-route-id="28">Гангстерские</a></li>
                            <li><a class="dropdown-item" asp-action="MoviesOfGenre" asp-route-id="29">Детектив</a></li>
                            <li><a class="dropdown-item" asp-action="MoviesOfGenre" asp-route-id="43">Катастрофа</a></li>
                            <li><a class="dropdown-item" asp-action="MoviesOfGenre" asp-route-id="44">Биографические</a></li>
                        </ul>
                        <ul class="list-unstyled col-md-3">
                            <li><a class="dropdown-item" asp-action="MoviesOfGenre" asp-route-id="24">Драма</a></li>
                            <li><a class="dropdown-item" asp-action="MoviesOfGenre" asp-route-id="30">Исторические</a></li>
                            <li><a class="dropdown-item" asp-action="MoviesOfGenre" asp-route-id="34">Нуар</a></li>
                            <li><a class="dropdown-item" asp-action="MoviesOfGenre" asp-route-id="39">Трагикомедия</a></li>
                            <li><a class="dropdown-item" asp-action="MoviesOfGenre" asp-route-id="45">Криминал</a></li>
                            <li><a class="dropdown-item" asp-action="MoviesOfGenre" asp-route-id="42">Ужасы</a></li>
                        </ul>
                        <ul class="list-unstyled col-md-3">
                            <li><a class="dropdown-item" asp-action="MoviesOfGenre" asp-route-id="31">Комедия</a></li>
                            <li><a class="dropdown-item" asp-action="MoviesOfGenre" asp-route-id="32">Мелодрама</a></li>
                            <li><a class="dropdown-item" asp-action="MoviesOfGenre" asp-route-id="33">Мюзикл</a></li>
                            <li><a class="dropdown-item" asp-action="MoviesOfGenre" asp-route-id="35">Политические</a></li>
                            <li><a class="dropdown-item" asp-action="MoviesOfGenre" asp-route-id="40">Триллер</a></li>
                        </ul>
                        <ul class="list-unstyled col-md-3">
                            <li><a class="dropdown-item" asp-action="MoviesOfGenre" asp-route-id="36">Приключение</a></li>
                            <li><a class="dropdown-item" asp-action="MoviesOfGenre" asp-route-id="25">Мультфильм</a></li>
                            <li><a class="dropdown-item" asp-action="MoviesOfGenre" asp-route-id="37">Сказка</a></li>
                            <li><a class="dropdown-item" asp-action="MoviesOfGenre" asp-route-id="38">Трагедия</a></li>
                            <li><a class="dropdown-item" asp-action="MoviesOfGenre" asp-route-id="41">Фантастика</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="color: black">Жанры</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="CartView" asp-controller="Home" style="color: black">Корзина <span id="shCart">@ViewBag.ReservationsCount</span> </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="color: black">Про нас</a>
        </li>
    </ul>
    <form id="search" class="form-inline my-2 my-lg-0" asp-action="MovieSearch" asp-controller="Home">
        <input class="form-control mr-sm-2" type="search" placeholder="Поиск" id="mySearch" name="name">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Найти фильм</button>
    </form>
</nav>
@RenderBody()